<%= render "devise/shared/error_messages", resource: @contract %>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <%= form_for ([ @user, @contract ]), class: "col-12" do |f| %>
      <div class="form-group">
        <%= f.label :final_price %>
        <%= f.text_field :final_price, class: 'form-control', placeholder: 'Final Price' %>
      </div>
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date , class: 'form-control', placeholder: 'Starting Date'%>
      </div>
      <div class="form-group">
        <%= f.label :End_date %>
        <%= f.date_field :end_date, class: 'form-control', placeholder: 'End Date' %>
      </div>
      <div class="form-group">
        <%= f.label :transaction_id %>
        <%= f.text_field :transaction_id, class: 'form-control', placeholder: 'transaction id' %>
      </div>
      <div class="form-group">
        <%= f.label :payment_mode %>
        <%= f.text_field :payment_mode, class: 'form-control', placeholder: 'Payment mode' %>
      </div>
      <%= f.hidden_field :property_id, value: params[:property_id] if params[:property_id] %>
      <div class="form-group">
        <%= f.label :type %>
        <%= f.text_field :contract_type, class: 'form-control', placeholder: 'Type ' %>
      </div>
      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_area :details, class: 'form-control', placeholder: 'Details' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Save', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
