<h1> My Contracts</h1>
<div class="container">
  <div class="row">
    <% @contracts.each do |contract| %>
      <div class="clearfix" id="contract_<%= contract.id %>">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="d-flex sale ">
                <%= link_to 'Edit contract', edit_user_contract_path(current_user.id, contract.id), class: 'btn btn-primary btn-sm' %>
                <%= link_to 'show contract', user_contract_path(current_user.id, contract.id), class: 'btn btn-primary btn-sm' %>
                <%= button_to 'Delete', [@user, contract], method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' %>
              </div>
              <h2 class="card-title">&#8377;<%= contract.final_price %></h2>
              <% property = contract.property %>
              <h2 class="card-title"><%= property.title %></h2>
              <h2 class="card-title"><%= property.bedrooms %> BHK</h2>
              <%= link_to 'Show property', property_path(contract.property.id), class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
