<h1><span class="badge badge-dark">SIGN UP</span></h1>

<%= render "shared/error_messages", :target => @user %>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <%= form_for @user, class: "col-12" do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name , class: 'form-control', placeholder: 'First Name' %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name , class: 'form-control', placeholder: 'Last Name'%>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="form-group">
        <%= f.label :mobile %>
        <%= f.text_field :mobile, class: 'form-control', placeholder: 'Mobile Number' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password'%>
      </div>
      <div class="form-group">
        <%= f.label :picture %>
        <%= f.file_field :pic, class: "input-group-text", placeholder: 'pic' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Register', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
