<%= render "shared/error_messages", target: @property %>
<%= javascript_pack_tag 'property/multi_step_form' %>
<div class="row">
  <div class="col-md-12 mx-0">
    <div id="msform">
      <%= form_for ([ @user, @property ])do |f| %>
        <ul id="progressbar">
          <li class="active" id="account"><strong>Basics Details</strong></li>
          <li id="personal"><strong>More details</strong></li>
          <li id="payment"><strong>Specify Numbers</strong></li>
          <li id="confirm"><strong>Describe</strong></li>
        </ul>
        <fieldset>
          <div class="form-card">
            <h2 class="fs-title">Basic Property Information</h2>
            <%= f.text_field :title, placeholder: 'write Title' %>
            <%= f.text_field :built_area, placeholder: 'Build area in sq meter' %>
            <%= f.text_field :carpet_area, placeholder: 'Carpet Area in sq meter' %>
            <%= f.text_field :available_for, placeholder: 'Available for bachelor, couple' %>
          </div>
          <input type="button" name="next" class="next action-button" value="Next Step" />
        </fieldset>
        <fieldset>
          <div class="form-card">
            <h2 class="fs-title">More details</h2>
            <%= f.text_field :floor_no, placeholder: 'which Floor' %>
            <%= f.text_field :type_of, placeholder: 'Type Apartment,flat etc' %>
            <%= f.text_field :total_floor, placeholder: 'Total No. of Floor' %>
          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="next" class="next action-button" value="Next Step" />
        </fieldset>
        <fieldset>
          <div class="form-card">
            <h2 class="fs-title">Specify in Numbers</h2>
            <%= f.label :age %>
            <%= f.date_field :age, placeholder: 'Which year build?' %>
            <%= f.text_field :bedrooms, placeholder: 'No. of bedrooms' %>
            <%= f.text_field :bathrooms, placeholder: 'No. of bathrooms' %>
            <%= f.text_field :balcony, placeholder: 'No. of balcony' %>
            <%= f.text_field :parking_area, placeholder: 'parking area in sq meter' %>
          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
          <input type="button" name="make_payment" class="next action-button" value="Confirm" />
        </fieldset>
        <fieldset>
          <div class="form-card">
            <h2 class="fs-title">Describe Your Property</h2>
            <%= f.text_field :description, placeholder: 'Describe your property' %>
            <%= f.label :pictures %>
            <%= f.file_field :images, multiple: true, class: "input-group-text" %>
          </div>
          <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
          <%= f.submit 'Submit', class: 'btn btn-success' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
