<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <%= image_tag("logo.png", class: "logo", alt: "logo") %>
  <ul class="navbar-nav">
    <li>
      <a class="nav-link" <%= link_to 'Home', root_path %></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <%= form_tag(search_properties_path, :method => "POST", class: 'navbar-form navbar-left') do %>  
      <div class="input-group">  
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
        <%= button_tag "search",class: "btn btn-outline-success my-2 my-sm-0" ,:name => nil%>  
      </div>  
    <% end %>
    <% if current_user %>
      <li >
        <a class="nav-link" <%= link_to 'Sale property', new_user_property_path(current_user.id) %></a>
      </li>
      <li >
        <% if current_user.image.present? %>
          <%= image_tag(current_user.image, class: "profile_pic") %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" <%= link_to 'Edit', edit_user_registration_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'My Properties', user_properties_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'My Contracts', user_contracts_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'My adresses', user_addresses_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'Add Address', new_user_address_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'Log Out', destroy_user_session_path, method: :delete %> </a>
        </div>
      </li>
    <% else %>
      <li >
        <a class="nav-link" <%= link_to 'Sign Up', new_user_registration_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Login', new_user_session_path %></a>
      </li>
    <% end %>
  </ul>
</nav>
