<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <%= image_tag("logo.png", class: "logo", :alt => "logo") %>
  <ul class="navbar-nav">
    <li>
      <a class="nav-link" <%= link_to 'Home', root_path %></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto nav-flex-icons">
    <% if current_user %>
      <li >
        <a class="nav-link" <%= link_to 'Sale property', new_property_path %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user"></i> Hi <%= current_user.first_name %>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" <%= link_to 'Edit', edit_user_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'My ads', user_properties_path(current_user.id) %></a>
          <a class="dropdown-item" <%= link_to 'Log Out', logout_path %> </a>
        </div>
      </li>
    <% else %>
      <li >
        <a class="nav-link" <%= link_to 'Sign Up', new_user_path %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Login', new_session_path %></a>
      </li>
    <% end%>
  </ul>
</nav>
